In [21]:
import pandas as pd
coffee_csv = pd.read_csv('./warmup-data/coffee.csv')
print (coffee_csv)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [ ]:
coffee_csv_git = pd.read_csv('https://raw.githubusercontent.com/imagination22/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv')
print (coffee_csv_git)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [24]:
results_parquet = pd.read_parquet('./data/results.parquet')
print (results_parquet)

          year    type              discipline                          event  \
0       1912.0  Summer                  Tennis         Singles, Men (Olympic)
1       1912.0  Summer                  Tennis         Doubles, Men (Olympic)
2       1920.0  Summer                  Tennis         Singles, Men (Olympic)
3       1920.0  Summer                  Tennis       Doubles, Mixed (Olympic)
4       1920.0  Summer                  Tennis         Doubles, Men (Olympic)
...        ...     ...                     ...                            ...
308403  2022.0  Winter                    Luge         Singles, Men (Olympic)
308404  2022.0  Winter  Alpine Skiing (Skiing)        Slalom, Women (Olympic)
308405  2022.0  Winter  Alpine Skiing (Skiing)          Team, Mixed (Olympic)
308406  2022.0  Winter  Alpine Skiing (Skiing)  Giant Slalom, Women (Olympic)
308407  2022.0  Winter                    None        Slalom, Women (Olympic)

                           as  athlete_id   noc             team  place  \
0       Jean-François Blanchy           1   FRA             None   17.0
1       Jean-François Blanchy           1   FRA   Jean Montariol    NaN
2       Jean-François Blanchy           1   FRA             None   32.0
3       Jean-François Blanchy           1   FRA  Jeanne Vaussard    8.0
4       Jean-François Blanchy           1   FRA  Jacques Brugnon    4.0
...                       ...         ...   ...              ...    ...
308403          Marián Skupek      148983   SVK             None   26.0
308404          Elsa Fermbäck      148984   SWE             None   28.0
308405          Hilma Lövblom      148985   SWE           Sweden   13.0
308406          Hilma Lövblom      148985   SWE             None    NaN
308407   Charlotta Säfvenberg      148986  None             None   24.0

         tied medal
0        True  None
1       False  None
2        True  None
3        True  None
4       False  None
...       ...   ...
308403  False  None
308404  False  None
308405  False  None
308406  False  None
308407  False  None

[308408 rows x 11 columns]

In [25]:
results_parquet.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None

In [ ]:
olympics_data_xl_bios = pd.read_excel('./data/olympics-data.xlsx', sheet_name='bios')
print (olympics_data_xl_bios)

        athlete_id                   name   born_date        born_city  \
0                1  Jean-François Blanchy  1886-12-12         Bordeaux
1                2         Arnaud Boetsch  1969-04-01           Meulan
2                3           Jean Borotra  1898-08-13         Biarritz
3                4        Jacques Brugnon  1895-05-11      Paris VIIIe
4                5           Albert Canet  1878-04-17       Wandsworth
...            ...                    ...         ...              ...
145495      149222      Polina Luchnikova  2002-01-30            Serov
145496      149223    Valeriya Merkusheva  1999-09-20  Moskva (Moscow)
145497      149224        Yuliya Smirnova  1998-05-08           Kotlas
145498      149225         André Foussard  1899-05-19            Niort
145499      149814          Bill Phillips  1913-07-15     Dulwich Hill

                 born_region born_country        NOC  height_cm  weight_kg  \
0                    Gironde          FRA     France        NaN        NaN
1                   Yvelines          FRA     France      183.0       76.0
2       Pyrénées-Atlantiques          FRA     France      183.0       76.0
3                      Paris          FRA     France      168.0       64.0
4                    England          GBR     France        NaN        NaN
...                      ...          ...        ...        ...        ...
145495            Sverdlovsk          RUS        ROC      167.0       61.0
145496                Moskva          RUS        ROC      168.0       65.0
145497           Arkhangelsk          RUS        ROC      163.0       55.0
145498           Deux-Sèvres          FRA     France      166.0        NaN
145499       New South Wales          AUS  Australia        NaN        NaN

         died_date
0       1960-10-02
1              NaN
2       1994-07-17
3       1978-03-20
4       1930-07-25
...            ...
145495         NaN
145496         NaN
145497         NaN
145498  1986-03-18
145499  2003-10-20

[145500 rows x 10 columns]

In [ ]:
olympics_data_xl_bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [28]:
olympics_data_xl_results= pd.read_excel('./data/olympics-data.xlsx', sheet_name='results')
#print (olympics_data_xl_results)
olympics_data_xl_results.head(2)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN

In [ ]:
olympics_data_xl_results.head()

In [29]:
results_feather = pd.read_feather('./data/results.feather')
print (results_feather)

          year    type              discipline                          event  \
0       1912.0  Summer                  Tennis         Singles, Men (Olympic)
1       1912.0  Summer                  Tennis         Doubles, Men (Olympic)
2       1920.0  Summer                  Tennis         Singles, Men (Olympic)
3       1920.0  Summer                  Tennis       Doubles, Mixed (Olympic)
4       1920.0  Summer                  Tennis         Doubles, Men (Olympic)
...        ...     ...                     ...                            ...
308403  2022.0  Winter                    Luge         Singles, Men (Olympic)
308404  2022.0  Winter  Alpine Skiing (Skiing)        Slalom, Women (Olympic)
308405  2022.0  Winter  Alpine Skiing (Skiing)          Team, Mixed (Olympic)
308406  2022.0  Winter  Alpine Skiing (Skiing)  Giant Slalom, Women (Olympic)
308407  2022.0  Winter                    None        Slalom, Women (Olympic)

                           as  athlete_id   noc             team  place  \
0       Jean-François Blanchy           1   FRA             None   17.0
1       Jean-François Blanchy           1   FRA   Jean Montariol    NaN
2       Jean-François Blanchy           1   FRA             None   32.0
3       Jean-François Blanchy           1   FRA  Jeanne Vaussard    8.0
4       Jean-François Blanchy           1   FRA  Jacques Brugnon    4.0
...                       ...         ...   ...              ...    ...
308403          Marián Skupek      148983   SVK             None   26.0
308404          Elsa Fermbäck      148984   SWE             None   28.0
308405          Hilma Lövblom      148985   SWE           Sweden   13.0
308406          Hilma Lövblom      148985   SWE             None    NaN
308407   Charlotta Säfvenberg      148986  None             None   24.0

         tied medal
0        True  None
1       False  None
2        True  None
3        True  None
4       False  None
...       ...   ...
308403  False  None
308404  False  None
308405  False  None
308406  False  None
308407  False  None

[308408 rows x 11 columns]

In [30]:
results_parquet.sample(5)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
108915,1972.0,Summer,Swimming (Aquatics),"4 × 100 metres Medley Relay, Women (Olympic)",Alie te Riet,49392,NED,Netherlands,5.0,False,None
4043,1992.0,Summer,Archery,"Team, Men (Olympic)",Henk Vogels,2035,NED,Netherlands,9.0,False,None
267933,2016.0,Summer,Sailing,"Windsurfer, Men (Olympic)",Karel Lavický,125272,CZE,None,31.0,False,None
144430,1932.0,Summer,Athletics,"4 × 100 metres Relay, Men (Olympic)",Stanley Fuller,69062,GBR,Great Britain,6.0,False,None
232994,2004.0,Summer,Wrestling,"Lightweight, Greco-Roman, Men (Olympic)",Vitali Rəhimov,107657,AZE,None,14.0,False,None

In [34]:
results_parquet.loc[0]

year                          1912.0
type                          Summer
discipline                    Tennis
event         Singles, Men (Olympic)
as             Jean-François Blanchy
athlete_id                         1
noc                              FRA
team                            None
place                           17.0
tied                            True
medal                           None
Name: 0, dtype: object

In [35]:
results_parquet.loc[100]

year                                                1900.0
type                                                Summer
discipline                                          Tennis
event         Doubles, Handicap, Men (Olympic (non-medal))
as                                            Paul Lecaron
athlete_id                                              25
noc                                                    FRA
team                                         Paul Lebreton
place                                                  3.0
tied                                                  True
medal                                                 None
Name: 100, dtype: object

In [36]:
results_parquet.loc[0:10]

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None
5,1996.0,Summer,Tennis,"Singles, Men (Olympic)",Arnaud Boetsch,2,FRA,None,17.0,True,None
6,1996.0,Summer,Tennis,"Doubles, Men (Olympic)",Arnaud Boetsch,2,FRA,Guillaume Raoux,17.0,True,None
7,1924.0,Summer,Tennis,"Singles, Men (Olympic)",Jean Borotra,3,FRA,None,4.0,False,None
8,1924.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean Borotra,3,FRA,Marguerite Billout,15.0,True,None
9,1924.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean Borotra,3,FRA,René Lacoste,3.0,False,Bronze
10,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jacques Brugnon,4,FRA,None,9.0,True,None

In [39]:
results_parquet.loc [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None
5,1996.0,Summer,Tennis,"Singles, Men (Olympic)",Arnaud Boetsch,2,FRA,None,17.0,True,None
6,1996.0,Summer,Tennis,"Doubles, Men (Olympic)",Arnaud Boetsch,2,FRA,Guillaume Raoux,17.0,True,None
7,1924.0,Summer,Tennis,"Singles, Men (Olympic)",Jean Borotra,3,FRA,None,4.0,False,None
8,1924.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean Borotra,3,FRA,Marguerite Billout,15.0,True,None
9,1924.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean Borotra,3,FRA,René Lacoste,3.0,False,Bronze

In [42]:
results_parquet.loc[0:5,['year', 'event']]

     year                     event
0  1912.0    Singles, Men (Olympic)
1  1912.0    Doubles, Men (Olympic)
2  1920.0    Singles, Men (Olympic)
3  1920.0  Doubles, Mixed (Olympic)
4  1920.0    Doubles, Men (Olympic)
5  1996.0    Singles, Men (Olympic)